---
layout: minimal
title: "About me"
permalink: /about/index.html
description: "Some description about Victor Igor..."
---

<h2>About Me</h2>


<div id="robot">
  <div class="head"></div>
  <div class="arm l"><div><div></div></div></div>
  <div class="leg l"><div><div></div></div></div>
  <div class="leg r"><div><div></div></div></div>
  <div class="arm r"><div><div></div></div></div>
</div>
<div class="shadow"></div>
<h4 style="color:#54456e; "><center>↓↓↓↓↓↓↓   my summary   ↓↓↓↓↓↓↓</a></center></h4><br>
<p>im rezaduty and this is a very simple linux docs</p>






<h2>My Project</h2>
<div class="aboutme">
	<ul class="recent">
		{% for project in site.projects %}
	    	<li><a href="{{ project.url}}"><h3 class="project-name" itemprop="name">{{ project.name }}</h3></a></li>
	    {% endfor %}
	</ul>
</div>





<center>

<div class="social-icons">
 
  <a class="social-icon social-icon--github">
    <i class="fa fa-github"></i>
    <div class="tooltip">rezaduty</div>
  </a>
  <a class="social-icon social-icon--twitter">
    <i class="fa fa-skype"></i>
    <div class="tooltip">mohamadreza012</div>
  </a>
  <a class="social-icon social-icon--dribbble">
    <i class="fa fa-linux"></i>
    <div class="tooltip">rezaduty</div>
  </a>
  <a href="mailto:reza.duty.persian@gmail.com" class="social-icon social-icon--instagram">
    <i class="fa fa-google"></i>
    <div class="tooltip">reza.duty.persian@gmail.com</div>
  </a>

</div>



</center>


{% include footer.html %}