



<header class="header-site" role="banner">
    <div class="content">

        <div class="person">
            <img alt="My photo" src="{{ site.url }}/assets/img/static/Tux.svg.png">
        </div>

        <h1>
            <span class="site-title">[{{site.username}}]</span>
        </h1>

        <div class="icons-home">
            <a target="_blank" aria-label="Debian" title="Debian Linux" href="https://distrowatch.com/debian">
                <svg class="icon icon-debian"><use xlink:href="#icon-debian"></use></svg>
            </a>
            <a target="_blank" aria-label="OpenSuse" title="OpenSuse Linux" href="https://distrowatch.com/opensuse">
                <svg class="icon icon-opensuse"><use xlink:href="#icon-opensuse"></use></svg>
            </a>
            
            <a target="_blank" aria-label="Minix" title="Minix Linux" href=" https://distrowatch.com/minix">
                <svg class="icon icon-minix"><use xlink:href="#icon-minix"></use></svg>
            </a>
           
            <a target="_blank" aria-label="Centos" title="Centos Linux" href="https://distrowatch.com/centos">
                <svg class="icon icon-centos"><use xlink:href="#icon-centos"></use></svg>
            </a>
            <a target="_blank" aria-label="Elementry" title="Elementry Linux" href="https://distrowatch.com/elementary">
                <svg class="icon icon-elementry"><use xlink:href="#icon-elementry"></use></svg>
            </a>
            
            <a target="_blank" aria-label="Ubuntu" title="Ubuntu Linux" href="https://distrowatch.com/ubuntu">
                <svg class="icon icon-ubuntu"><use xlink:href="#icon-ubuntu"></use></svg>
            </a>
             
            <a target="_blank" aria-label="Lfs" title="Lfs Linux" href="https://distrowatch.com/lfs">
                <svg class="icon icon-lfs"><use xlink:href="#icon-lfs"></use></svg>
            </a>
            <a target="_blank" aria-label="Fedora" title="Fedora Linux" href="https://distrowatch.com/fedora">
                <svg class="icon icon-fedora"><use xlink:href="#icon-fedora"></use></svg>
            </a>
            
            <a target="_blank" aria-label="Gentoo" title="Gentoo Linux" href="https://distrowatch.com/gentoo">
                <svg class="icon icon-gentoo"><use xlink:href="#icon-gentoo"></use></svg>
            </a>
            <a target="_blank" aria-label="Slackware" title="Slackware Linux" href="https://distrowatch.com/slackware">
                <svg class="icon icon-slackware"><use xlink:href="#icon-slackware"></use></svg>
            </a>
            
            <a target="_blank" aria-label="Redhat" title="Redhat Linux" href="https://distrowatch.com/redhat">
                <svg class="icon icon-redhat"><use xlink:href="#icon-redhat"></use></svg>
            </a>

            <a target="_blank" aria-label="Arch" title="Arch Linux" target="_blank" href="https://distrowatch.com/arch">
                <svg class="icon icon-arch"><use xlink:href="#icon-arch"></use></svg>
            </a>

            <a target="_blank" aria-label="Freebsd" title="Freebsd Linux" target="_blank" href="https://distrowatch.com/freebsd">
                <svg class="icon icon-freebsd"><use xlink:href="#icon-freebsd"></use></svg>
            </a>

            <a target="_blank" aria-label="My Google Plus" title="Show my feed" target="_blank" href="https://plus.google.com/u/0/+{{site.gplus_username}}/posts">
                <svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg>
            </a>

            <a target="_blank" aria-label="My Github" title="Show my projetcts" target="_blank" href="https://github.com/{{site.github_username}}">
                <svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg>
            </a>

            <a target="_blank" aria-label="Use the RSS to get updated" title="Register for my RSS" target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl }}">
                <svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg>
            </a>
        </div>
        <br>

  <div class="large-3 columns">

        <ul class="recent">
            <p>Recent Beginners <font class="new">ᴺᴱᵂ</font></p>
            {% assign postss = (site.categories["Linux"]  | sort: 'date') | reverse %}
             {% for post in postss %}
              
              

                <li>
                    <a title="Will take a my recent post" href="{{ post.url | prepend: site.baseurl }}">
                        <h2 class="post-title" itemprop="name">{{ post.title }}</h2>
                    </a>
                </li>
              
              {% endfor %}
        </ul>
    </div>
   
<div class="large-3 columns">
 <ul class="recent">
            <p>Recent Cheatsheet and Script <font class="new">ᴺᴱᵂ</font></p>
                {% assign postss = (site.posts | sort: 'date') | reverse %}
                 {% for post in postss %}
                  {% if post.categories contains 'chsc' %}
                    <li>
                        <a title="Will take a my recent post" href="{{ post.url | prepend: site.baseurl }}">
                            <h2 class="post-title" itemprop="name">{{ post.title }}</h2>
                        </a>
                    </li>
                  {% endif %}
                  {% endfor %}
                  </ul>
</div>
<div class="large-3 columns">
 <ul class="recent">
            <p>Recent How to <font class="new">ᴺᴱᵂ</font></p>
                {% assign postss = (site.posts | sort: 'date') | reverse %}
                 {% for post in postss %}
                  {% if post.categories contains 'howto' %}
                    <li>
                        <a title="Will take a my recent post" href="{{ post.url | prepend: site.baseurl }}">
                            <h2 class="post-title" itemprop="name">{{ post.title }}</h2>
                        </a>
                    </li>
                  {% endif %}
                  {% endfor %}
</ul>
            
</div>



 <div class="large-3 columns">
     <ul class="recent">
            <p>Recent Review <font class="new">ᴺᴱᵂ</font></p>
                {% assign postss = (site.posts | sort: 'date') | reverse %}
                 {% for post in postss %}
                  {% if post.categories contains 'dist_rev' %}
                    <li>
                        <a title="Will take a my recent post" href="{{ post.url | prepend: site.baseurl }}">
                            <h2 class="post-title" itemprop="name">{{ post.title }}</h2>
                        </a>
                    </li>
                  {% endif %}
                  {% endfor %}
                  </ul>

 <div class="large-12">
        <ul class="recent">
            <p>Recent projects <font class="new">ᴺᴱᵂ</font></p>
             {% for project in site.projects limit:5%}
                <li>
                    <a title="Show my recent project" href="{{ project.url}}">
                        <h2 class="post-title" itemprop="name">{{ project.name }}</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>
        </div>
</div>
        
<div class="large-12">
        <ul class="recent">
            <p>Books <font class="new">ᴺᴱᵂ</font></p>
             {% for project in site.projects limit:5%}
                <li>
                    <a title="Linuxiseasy: System Administration" href="/books.html">
                        <h2 class="post-title" itemprop="name">Linuxiseasy: System Administration</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>
        </div>
</div>
</div>
        </ul>


        <br>


</div>


    {% include menu-search.html %}
</header>
