<center>
	<!-- PersianStat -->
	<!-- URL: http://rezaduty.github.io/linuxsh/ -->
	<script language='javascript' type='text/javascript' src='http://www.persianstat.com/service/stat.js'></script>
	<script language='javascript' type='text/javascript'>
	persianstat(10298510, 0);
	</script>
	<!-- /PersianStat -->



	<!-- Begin WebGozar.com Counter code -->
	<script type="text/javascript" language="javascript" src="http://www.webgozar.ir/c.aspx?Code=3672789&amp;t=counter" ></script>
	<noscript><a href="http://www.webgozar.com/counter/stats.aspx?code=3672789" target="_blank">&#1570;&#1605;&#1575;&#1585;</a></noscript>
	<!-- End WebGozar.com Counter code -->
</center>