<div class="tree-posts">
<pre style="overflow:hidden;/* left: 16px; */"><div class="is" style="
    position: fixed;
    left: 163px;
    top: 61px;
    font-size: 3pt;
">
 ██▓  ██████ 
▓██▒▒██    ▒ 
▒██▒░ ▓██▄   
░██░  ▒   ██▒
░██░▒██████▒▒
░▓  ▒ ▒▓▒ ▒ ░
 ▒ ░░ ░▒  ░ ░
 ▒ ░░  ░  ░  
 ░        ░  
             
</div>
<center style="
    position: fixed;
    left: 7px;
">██╗     ██╗███╗   ██╗██╗   ██╗██╗  ██╗            ███████╗ █████╗ ███████╗██╗   ██╗
██║     ██║████╗  ██║██║   ██║╚██╗██╔╝            ██╔════╝██╔══██╗██╔════╝╚██╗ ██╔╝
██║     ██║██╔██╗ ██║██║   ██║ ╚███╔╝             █████╗  ███████║███████╗ ╚████╔╝ 
██║     ██║██║╚██╗██║██║   ██║ ██╔██╗             ██╔══╝  ██╔══██║╚════██║  ╚██╔╝  
███████╗██║██║ ╚████║╚██████╔╝██╔╝ ██╗            ███████╗██║  ██║███████║   ██║   
╚══════╝╚═╝╚═╝  ╚═══╝ ╚═════╝ ╚═╝  ╚═╝            ╚══════╝╚═╝  ╚═╝╚══════╝   ╚═╝   
                                                                                   
</center>
<div class="right-text">
</div></pre> {% assign postss = (site.posts | sort: 'date') | reverse %}
    <!--
    <ul class="two">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
    </ul>
-->
    <!-- CSS tree menu -->
    <ol class="tree">
        <li>
            <label class="underline" for="folder1">Review</label>
            <input type="checkbox" id="folder1" />
            <ol>
                <li>
                    <label for="subfolder1">Review List</label>
                    <input type="checkbox" id="subfolder1" />
                    <ol class="four">
                        {% for post in site.categories["dist_rev"] %}
                        <li><a class="tree-post" href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></li>
                        {% endfor %}
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            <label class="underline" for="folder2">Cheatsheet and Script</label>
            <input type="checkbox" id="folder2" />
            <ol>
                <li>
                    <label for="subfolder2">CheetSheet & Script List</label>
                    <input type="checkbox" id="subfolder2" />
                    <ol class="four">
                        {% for post in site.categories["chsc"] %}
                        <li><a class="tree-post" href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></li>
                        {% endfor %}
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            <label class="underline" for="folder3">How to </label>
            <input type="checkbox" id="folder3" />
            <ol>
                <li>
                    <label for="subfolder3">How to install List</label>
                    <input type="checkbox" id="subfolder3" />
                    <ol class="four">
                        {% for post in site.categories["howto"] %}
                        <li><a class="tree-post" href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></li>
                        {% endfor %}
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            <label class="underline" for="folder4">Beginning</label>
            <input type="checkbox" id="folder4" />
            <ol>
                <li>
                    <label for="subfolder4">basic</label>
                    <input type="checkbox" id="subfolder4" />
                    <ol class="four">
                        {% for post in site.categories["Linux"] %}
                        <li><a class="tree-post" href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></li>
                        {% endfor %}
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            <label class="underline" for="folder5">Projects</label>
            <input type="checkbox" id="folder5" />
            <ol class="four">
                <li><a class="tree-post" href="{{ site.url }}/ls">LPS</a></li>
                <li><a class="tree-post" href="{{ site.url }}/cs">CPS</a></li>
                <li><a class="tree-post" href="{{ site.url }}/linuxmap">Linux Map</a></li>
            </ol>
        </li>
        <li>
            <label class="underline" for="folder6">Subscribe</label>
            <input type="checkbox" id="folder6" />
            <ol class="four">
                <li>
                    <div id="mc_embed_signup">
                        <form action="//github.us15.list-manage.com/subscribe/post?u=50de517efda79209c72fae243&amp;id=9c1a49fbe8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <label for="mce-EMAIL">Subscribe to our mailing list </label>
                                <input type="email" style="opacity:1;" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                    <input style="opacity:1;" type="text" name="b_50de517efda79209c72fae243_9c1a49fbe8" tabindex="-1" value="">
                                </div>
                                <div class="clear">
                                    <input type="submit" style="opacity:1;" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--End mc_embed_signup-->
                </li>
            </ol>
        </li>
    </ol>
    <div class="social-icons" style="margin:0% 1%;">
        <a target="_blank" href="{{ site.git_url }}" style="width:4rem;height:4rem;" class="social-icon social-icon--githubb"> <i class="fa fa-github"></i></a>
        <a target="_blank" href="{{ site.slack_url }}" style="width:4rem;height:4rem;" class="social-icon social-icon--slack"> <i class="fa fa-slack"></i></a>
        <a target="_blank" href="{{ site._base }}" style="width:4rem;height:4rem;" class="social-icon social-icon--linux"> <i class="fa fa-linux"></i></a>
    </div>
</div>
