<div class="tree-posts">

<pre style="overflow:hidden;"><center>
██╗     ██╗███╗   ██╗██╗   ██╗██╗  ██╗███████╗██╗  ██╗
██║     ██║████╗  ██║██║   ██║╚██╗██╔╝██╔════╝██║  ██║
██║     ██║██╔██╗ ██║██║   ██║ ╚███╔╝ ███████╗███████║
██║     ██║██║╚██╗██║██║   ██║ ██╔██╗ ╚════██║██╔══██║
███████╗██║██║ ╚████║╚██████╔╝██╔╝ ██╗███████║██║  ██║
╚══════╝╚═╝╚═╝  ╚═══╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝

</center></pre>
{% assign postss = (site.posts | sort: 'date') | reverse %}


 
 <!--
    <ul class="two">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
    </ul>
-->
    
    


<!-- CSS tree menu -->
<ol class="tree">
  
        <li>
            <label class="underline" for="folder1">Review</label> <input type="checkbox" id="folder1" /> 
            <ol>
                <li>
                    <label for="subfolder1">Review List</label> <input type="checkbox" id="subfolder1" /> 
                    <ol class="four">
                        {% for post in site.categories["dist_rev"] %}
                           <li><a class="tree-post" href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></li>
                        {% endfor %}
                    </ol>
                </li>
            </ol>
        </li>
        


        <li>
            <label class="underline" for="folder2">Beginning</label> <input type="checkbox" id="folder2" /> 
            <ol>
                <li>
                    <label for="subfolder2">Tutorials</label> <input type="checkbox" id="subfolder2" /> 
                    <ol class="four">

                                        {% for post in postss %}
                                            {% if post.categories contains 'dist_rev' %}
                                            {% else %}
                                                <li><a class="tree-post" href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></li>
                                            {% endif %}
                                        {% endfor %}

                   </ol>
                </li>
            </ol>
        </li>


        <li>
            <label class="underline" for="folder3">Projects</label> <input type="checkbox" id="folder3" /> 
            <ol class="four">
                <li><a class="tree-post" href="{{ site.url }}/ls">LPS</a></li>
                <li><a class="tree-post" href="{{ site.url }}/cs">CPS</a></li>
                <li><a class="tree-post" href="{{ site.url }}/linuxmap">Linux Map</a></li>
            </ol>
        </li>
        
        
    </ol>
</div>
